<!-- FOOTER -->
{% load static %}
{% load humanize %}
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Giới thiệu</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>{{setting.address}}</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>{{setting.phone}}</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>{{ setting.email }}</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Danh mục</h3>
								<ul class="footer-links">
									<li><a href="/category/4/laptop">Laptop</a></li>
									<li><a href="/category/11/link-kin">Linh kiện</a></li>
									<li><a href="/category/7/ph-kin">Phụ kiện</a></li>

								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Thông tin</h3>
								<ul class="footer-links">
									<li><a href="/aboutus">Giới thiệu</a></li>
									<li><a href="/contact">Liên hệ</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Dịch vụ</h3>
								<ul class="footer-links">
									<li><a href="/user">Tài khoản</a></li>
									<li><a href="/shopcart/">Giỏ hàng</a></li>
									<li><a href="/user/orders">Đơn hàng</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">QTK</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		{% load static %}
		<script src="{% static '' %}js/jquery.min.js"></script>
		<script src="{% static '' %}js/bootstrap.min.js"></script>
		<script src="{% static '' %}js/slick.min.js"></script>
		<script src="{% static '' %}js/nouislider.min.js"></script>
		<script src="{% static '' %}js/jquery.zoom.min.js"></script>
		<script src="{% static '' %}js/main.js"></script>